<div class="about-head">
    <h2><em>@Ressourcen.Resources.navAbout</em></h2>
    <br>
    <div class="about-body">
        <div class="about-text">
            <p>
            @Ressourcen.Resources.aboutText
            <br>
            @Ressourcen.Resources.aboutText2 <em><a href="https://www.handtmann.com" target="_blank">@Ressourcen.Resources.companyText</a></em></p>
            <div>
                <p><em>@Ressourcen.Resources.aboutText3</em></p>
                <li class="list-item">@Ressourcen.Resources.passionate1</li>
                <li class="list-item">@Ressourcen.Resources.passionate2</li>
                <li class="list-item">@Ressourcen.Resources.passionate3</li>
            </div>
            <br>
            <div class="tech-row">
                <div class="tech-item">
                    <p><em>@Ressourcen.Resources.aboutText5</em></p>
                    <li class="list-item">@Ressourcen.Resources.tech</li>
                    <li class="list-item">@Ressourcen.Resources.tech2</li>
                    <li class="list-item">@Ressourcen.Resources.tech3</li>
                    <li class="list-item">@Ressourcen.Resources.tech4</li>
                </div>
                <br>
                <br>
                <div class="tech-item">
                    <p><em>@Ressourcen.Resources.aboutText4</em></p>
                    <li class="list-item">@Ressourcen.Resources.learn</li>
                    <li class="list-item">@Ressourcen.Resources.learn2</li>
                    <li class="list-item">@Ressourcen.Resources.learn3</li>
                </div>
            </div>
            <br>
        </div>
        <div class="about-image">
            <img class="image" src="Images/image1.jpg">
        </div>
    </div>
    <br>

</div>
