<h3><em>@Resources.navProjects</em></h3>
<div class="projecthead">
    <p>@Ressourcen.Resources.projectText</p>
    <div class="projectlist">
        <div class="projects">
            <div> 
                <h5><a href="https://github.com/Mikel-217/bingo" target="_blank">@Ressourcen.Resources.project1</a></h5>
                <p>@Ressourcen.Resources.projectText2</p>
            </div>
            <div style="margin-bottom: 5px;">
                <img class="image-project" src="Images/bingo.png">
            </div>
            <div class="languages">
                <IconBlazor />
                <IconCsharp />
            </div>
            <br>
        </div>
        <div class="projects">
            <div>
                <h5><a href="https://github.com/Mikel-217/Console-ChatApp" target="_blank">@Ressourcen.Resources.project2</a></h5>
                <p>@Ressourcen.Resources.projectText3</p>
            </div>
            <div class="languages">
                <IconCsharp />
            </div>
        </div>
        <div class="projects">
            <div>
                <h5><a href="https://github.com/Mikel-217/legoog" target="_blank">@Ressourcen.Resources.project3</a></h5>
                <p>@Ressourcen.Resources.projectText4</p>
            </div>
            <div class="languages">
                <IconCsharp />
            </div>
        </div>
        <div class="projects">
            <div>
                <h5><a href="https://github.com/Mikel-217/Steves-game" target="_blank">@Ressourcen.Resources.project4</a></h5>
                <p>@Ressourcen.Resources.projectText5</p>
            </div>
            <div class="languages">
                <IconJava />
            </div>        
        </div>
    </div>
</div>
<br>
<br>
<br>
